
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Doctor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>

    <div class="container">
        
        <div class="sidebar">
            <div class="upper">
                <div class="name">Digital Doctor</div>
                <div>
                    <div class="menu">Menu</div>
                    <div class="options">
                        <div class="option">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm50.7-186.9L162.4 380.6c-19.4 7.5-38.5-11.6-31-31l55.5-144.3c3.3-8.5 9.9-15.1 18.4-18.4l144.3-55.5c19.4-7.5 38.5 11.6 31 31L325.1 306.7c-3.2 8.5-9.9 15.1-18.4 18.4zM288 256a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z" />
                            </svg>
                            <div><a><button id="explore">Explore</button></a></div>
                        </div>
                        <div class="option">
                            <svg viewBox="0 0 512 512" fill="currentColor">
                                <path
                                    d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z" />
                            </svg>
                            <div><a><button id="chatbox">Chat Box</button></a></div>
                        </div>
                        <div class="option">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M288 0H160 128C110.3 0 96 14.3 96 32s14.3 32 32 32V196.8c0 11.8-3.3 23.5-9.5 33.5L10.3 406.2C3.6 417.2 0 429.7 0 442.6C0 480.9 31.1 512 69.4 512H378.6c38.3 0 69.4-31.1 69.4-69.4c0-12.8-3.6-25.4-10.3-36.4L329.5 230.4c-6.2-10.1-9.5-21.7-9.5-33.5V64c17.7 0 32-14.3 32-32s-14.3-32-32-32H288zM192 196.8V64h64V196.8c0 23.7 6.6 46.9 19 67.1L309.5 320h-171L173 263.9c12.4-20.2 19-43.4 19-67.1z" />
                            </svg>
                            <div><a><button id="xray">X-Ray</button></a></div>
                        </div>
                        <div class="option">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 448 512"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                            <path
                                d="M320 48a48 48 0 1 0 -96 0 48 48 0 1 0 96 0zM125.7 175.5c9.9-9.9 23.4-15.5 37.5-15.5c1.9 0 3.8 .1 5.6 .3L137.6 254c-9.3 28 1.7 58.8 26.8 74.5l86.2 53.9-25.4 88.8c-4.9 17 5 34.7 22 39.6s34.7-5 39.6-22l28.7-100.4c5.9-20.6-2.6-42.6-20.7-53.9L238 299l30.9-82.4 5.1 12.3C289 264.7 323.9 288 362.7 288H384c17.7 0 32-14.3 32-32s-14.3-32-32-32H362.7c-12.9 0-24.6-7.8-29.5-19.7l-6.3-15c-14.6-35.1-44.1-61.9-80.5-73.1l-48.7-15c-11.1-3.4-22.7-5.2-34.4-5.2c-31 0-60.8 12.3-82.7 34.3L57.4 153.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l23.1-23.1zM91.2 352H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h69.6c19 0 36.2-11.2 43.9-28.5L157 361.6l-9.5-6c-17.5-10.9-30.5-26.8-37.9-44.9L91.2 352z" />
                            </svg> 
                            <div><a><button id="therapy">Therapy</button></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lower">
                <div>Help</div>
                <div>Settings</div>
            </div>
        </div>

        <div class="wrapper">
            <div class="x-ray">
                
            </div>
        </div>

    </div>
    

    <!-- {% for result in result %}
        <div>{{ result }}</div>
    {% endfor %}

    {% for i in generate_image %}
        <p>i</p>
    {% endfor %} -->
    
    <!-- <button><a href="generate/"> Generate </a></button> -->

</body>
</html>



<script>
    var therapy = document.getElementById('therapy');
    var chatbox = document.getElementById('chatbox');
    var xray = document.getElementById('xray');
    var explore = document.getElementById('explore');
    therapy.addEventListener('click', function() {
        window.location.href = '/thearpy';
    });
    chatbox.addEventListener('click', function() {
        window.location.href = '/chatbot';
    });
    xray.addEventListener('click', function() {
        window.location.href = '/xray';
    });
    explore.addEventListener('click', function() {
        window.location.href = '/';
    });
</script>